name: CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

  workflow_dispatch:

jobs:
  generate:
    runs-on: windows-latest

    steps:
      - uses: actions/checkout@v2
        with:
          repository: 'P3-DAT3-03/Flea'
      - uses: suisei-cn/actions-download-file@v1
        id: downloaddocfx  # Remember to give an ID if you need the output filename
        name: Download docfx 
        with:
          url: "https://github.com/LowkeyCoding/WorkFlows/blob/master/docfx.json"
          target: ./
      - uses: suisei-cn/actions-download-file@v1
        id: downloadfile  # Remember to give an ID if you need the output filename
        name: Download openapi.json
        with:
          url: "https://github.com/LowkeyCoding/WorkFlows/blob/master/openapi.json"
          target: ./
      - name: Setup .NET
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: 5.0.x
      - name: Setup DocFx
        run: |
          nuget install docfx.console -Version 2.58.9
          mkdir .\docfx.console.2.58.9\tools\Plugins
          nuget install rest.tagpage -OutputDirectory .\docfx.console.2.58.9\tools\Plugins
          dir
      - name: Init DocFx Data
        run: |
          .\docfx.console.2.58.9\tools\docfx init -q -o Docs
          rm .\Docs\docfx.json
          dir
          mv ./docfx.json ./Docs
          mv ./Flea/* ./Docs/src
      - name: Generate Documentation
        run: |
          dir
          .\docfx.console.2.58.9\tools\docfx Docs/docfx.json
      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: .\docfx_project\_site
          destination_dir: DOC
