name: CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

  workflow_dispatch:

jobs:
  generate:
    runs-on: windows-latest

    steps:
      - uses: actions/checkout@v2
        with:
          repository: 'P3-DAT3-03/Flea'
      - uses: suisei-cn/actions-download-file@v1
        id: downloaddocfx  # Remember to give an ID if you need the output filename
        name: Download docfx 
        with:
          url: "https://raw.githubusercontent.com/LowkeyCoding/WorkFlows/master/docfx.json"
          target: ./
      - uses: suisei-cn/actions-download-file@v1
        id: downloadfile  # Remember to give an ID if you need the output filename
        name: Download openapi.json
        with:
          url: "https://raw.githubusercontent.com/LowkeyCoding/WorkFlows/master/openapi.swagger.json"
          target: ./
      - name: Setup .NET
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: 5.0.x
      - name: Setup DocFx
        run: |
          nuget install docfx.console -Version 2.58.9
      - name: Init DocFx Data
        run: |
          .\docfx.console.2.58.9\tools\docfx init -q
          rm .\docfx_project\docfx.json
          mv ./docfx.json ./docfx_project
          mv ./openapi.swagger.json ./docfx_project/restapi
          mv ./Flea/* ./docfx_project/src
          cd ./docfx_project
          .\..\docfx.console.2.58.9\tools\docfx metadata
      - name: Generate Documentation
        run: |
          cd ./docfx_project
          .\..\docfx.console.2.58.9\tools\docfx
      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./docfx_project/_site
          destination_dir: DOC
